body {
    background-color: #c4def8;
    font-family: 'Arial', sans-serif;
}

h1 {
    color: #e60b0b;
    font-size: 3rem;
    margin-bottom: 0;
}

.navbar {
    margin-bottom: 20px;
}

.navbar-brand {
    font-weight: bold;
    font-size: 24px; 
    color: #ffffff; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.card {
    margin-top: 20px;
    border: none;
    border-radius: 1rem;
}

.card-header {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    text-align: center;
}

.card-body {
    padding: 2rem;
}

.list-group-item {
    background-color: #ffffff;
    margin-bottom: 10px;
    border-radius: 0.5rem;
    padding: 1.25rem;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}

.upload-text {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    background: linear-gradient(to right, #db0909, #f70344);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}



.navbar {
    margin-bottom: 20px;
    animation: fadeInDown 1s ease-out;
}


.card {
    margin-top: 20px;
    border: none;
    border-radius: 1rem;
    animation: zoomIn 1s ease-out;
}


.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    animation: fadeInUp 1s ease-out;
}

/* Define keyframes for animations */
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
